* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.part-1 {
    background-color: #393e46;
    display: flex;
    color: white;
    height: 1cm;
    gap: 0.8cm;
    padding: 12px;
}

.symbols {
    color: white;
    display: flex;
    gap: 0.4cm;
    margin-left: 18cm;
}

.subpart1 {
    display: flex;
}

.name {
    font-size: 0.9cm;
    font-weight: bolder;
}

.buttons {
    display: flex;
    border-radius: 30px;
    color: black;
    gap: 0.7cm;
    margin-left: auto;
}

#btn1, #btn2, #btn3, #btn4, #btn5 {
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover {
    border: 1px solid black;
    border-radius: 9px;
    background-color: #bae8e8;
    height: 0.7cm;
    width: 2cm;
    text-align: center;
}

#btn6 {
    border: 1px solid black;
    border-radius: 8px;
    height: 0.6cm;
    width: 3cm;
    margin-top: 0.1cm;
    cursor: pointer;
}

#btn6:hover {
    opacity: 0.8;
    background-color: black;
    color: white;
}

#contact{
    font-size: 1.5cm;
    text-align: center;

}

.contactMe{
    text-align: center;
    padding-top: 40px;
    height: 35cm;
}


.contactDetails{
    display: flex;
}


    .part-2 {
        background-color: whitesmoke;
        color: black;
        padding: 17px;
        margin-bottom: 0;
        height: 9cm;
        position: relative;
        z-index: 1;
    }
    
  .endPart {
        height: 9cm;
        width: 14cm;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6cm;
        position: relative;
        z-index: 1; 
    }

    .part-9{
        height: 15cm;
        background-color: grey;
        width: 100%;
        display: flex;
        padding: 16px;
        justify-content: space-evenly;
    }
    
    .subpart-2 a,.subpart-3 a{
      color: white;
    }
    
    .LastSymbols{
    display: flex;
    font-weight: bold;
    color: white;
    font-size: 0.6cm;
    gap: 0.4cm;
    
    }

    .food1 {
        height: 6cm;
        width: 6.5cm;
        border: 1px solid black;
        border-radius: 3px;
    }

    .copyright{
      text-align: center;
      justify-content: center;
      align-items: center;
        height: 2cm;
        background-color: grey;
        border-top: 1px solid black;
        padding-top: 0.6cm;
    }

    .row1 , .row2 , .row3{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }

    .row1 img, .row2 img, .row3 img{
        height: 5cm;
        width: 5cm;
    }

    .IMG{
        background-color: whitesmoke;
    }

    .image-container {
        width: 5.8cm;
        height: 7cm;
        background-color: white;
        text-align: center;
        padding: 4px;
        margin: 10px;
        border: 1px solid transparent;
    }
    
    .image-container img {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 10px;
    }
    
